.space {
	padding: 30px;
}
.backlog-body {
	background-color: #ebecf0;
	/*padding-top: 10px;*/
	width: 1200px;
	margin: auto;
	border-radius: 15px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

p {
	padding: 10px;
	margin: 0px;
	font-size: 22px;
}

#subtitle {
	font-size: 20px;
	text-align: center;
}
h1 {
	padding: 10px;
	text-align: center;
	color: #b44353;
	margin: 0px;
}
#game-pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.header {
    height:40px;
    background:rgb(178, 69, 84);
	padding-left: 10px;
	margin: 10px 10px;
	color: white;
}

.description {
	padding-left: 10px;
	margin: 10px 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
}

iframe {
	display: block;
	text-align: middle;
	padding-left: 10px;
	margin: 10px 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
	margin: 0 auto;
}

.vine {
	display:block;
	align: middle;
	margin: 0 auto;
	height: 50px;
}


